# This configuration contains the list of attributes
# that need to be set on all HTCondor machines
# irrespective of their types (schedd, collector),
# submit agents (wmagent, crab3, crab2) or pool
# (global, itb, tier0, itbdev)

# Setting the SLOT_WEIGHT so memory usage is also taken into 
# account. This adjusts fair share accordingly for analysis 
# users who use too much memory leaving idle cpus behind in a
# pilot - Farrukh
# ddavila: commented out on 2070428
# https://cms-logbook.cern.ch/elog/GlideInWMS/5312
#SLOT_WEIGHT = Cpus + (Memory/1024)

# IPV6 gets set by default on 8.5.4+ versions
# This causes a HA bug to be triggered, so disabling
# it manually here
# Farrukh - 2016-08-09
ENABLE_IPV6 = false

# Adding a few knobs to revert condor_q to old
# behavior 
#
# Do not batch jobs together
CONDOR_Q_DASH_BATCH_IS_DEFAULT = False
#
# To show all jobs in the queue
CONDOR_Q_ONLY_MY_JOBS = False

# Setting sendmail to avoid HTCondor security bug
# If this value is set, MAIL becomes invalid
# and we don't use mailx
SENDMAIL=/usr/sbin/sendmail

# Adding the timeout to 20 seconds to fix a 
# HTCondor related bug:
# https://htcondor-wiki.cs.wisc.edu/index.cgi/tktview?tn=5101
# 2015-06-18
SEC_DEFAULT_AUTHENTICATION_TIMEOUT = 20

# Setting PREEN not to send emails, just remove files
PREEN_ARGS = -r

# Setting the administrator for all machine
CONDOR_ADMIN = cms-htcondor-admins@cern.ch

# Defining the default mail program
# This later gets overwritten by SENDMAIL
# to avoid a security bug
MAIL = /bin/mailx

# The full path to the JVM
JAVA = /usr/bin/java

# Commenting this out since it is not being used
# 2015-APR-10
# JAVA_MAXHEAP_ARGUMENT = -Xmx1024m

# Specifying the directories for HTCondor specific
# files
LOCAL_DIR = /etc/condor/condor_local

EXECUTE = $(LOCAL_DIR)/execute
LOG = $(LOCAL_DIR)/log
RUN = $(LOCAL_DIR)/run
SPOOL = /data/srv/glidecondor/condor_local/spool
LOCK = /tmp/htcondor-lock

# Only unset this in case HTCondor is not running as
# user 'condor'. In that case this should be set to
# <user_uid>.<user_gid>. For root, it is 0.0
#CONDOR_IDS = 0.0

# Always use global priority
USE_GLOBAL_JOB_PRIOS = True

# Make sure that local config file is set to empty
# since we are using local directory, not a single
# file
LOCAL_CONFIG_FILE =

# Common UID domain for all machines
UID_DOMAIN=cms

# GSI specific HTCondor knobs
GSI_DAEMON_TRUSTED_CA_DIR = /etc/grid-security/certificates
GSI_DAEMON_CERT = /etc/grid-security/hostcert.pem
GSI_DAEMON_KEY = /etc/grid-security/hostkey.pem

####################################################
# Absorbed from condor_config.local on older nodes

# Default name for the collector (if running)
COLLECTOR_NAME = Personal Condor at $(FULL_HOSTNAME)

#  When is this machine willing to start a job? 
START = TRUE

#  When to suspend a job?
SUSPEND = FALSE


#  When to nicely stop a job?
#  (as opposed to killing it instantaneously)
PREEMPT = FALSE

#  When to instantaneously kill a preempting job
#  (e.g. if a job is in the pre-empting stage for too long)
KILL = FALSE

#  Internet domain of machines sharing a common file system.
#  If your machines don't use a network file system, set it to
#  FILESYSTEM_DOMAIN = $(FULL_HOSTNAME)
#  to specify that each machine has its own file system. 
FILESYSTEM_DOMAIN = cern.ch
