# This file contains the configurations that are
# applicable to ALL CMS collectors irrespective of
# their pool

# To forward submitter ,startd and schedd ads to
# parent collector
CONDOR_VIEW_CLASSAD_TYPES = Machine,Submitter,Scheduler

# Increasing the socket buffer size
COLLECTOR_SOCKET_BUFSIZE = 128*1024*1024

# Use UDP instead of TCP for performance
UPDATE_COLLECTOR_WITH_TCP = false

# Increase UDP fragment size
UDP_NETWORK_FRAGMENT_SIZE = 60000

# Increasing classAd lifetime
CLASSAD_LIFETIME = 1500

# For monitoring purposes
STATISTICS_TO_PUBLISH = ALL:2

# Increasing file descriptor limit
COLLECTOR_MAX_FILE_DESCRIPTORS = 80000

# Set a high enough default, so it can be lowered on a per-user basis
DEFAULT_PRIO_FACTOR=100.0
REMOTE_PRIO_FACTOR=100.0

# To avoid collector reports from flooding the inbox
# Added by Farrukh - Nov. 25, 2014
COLLECTOR_UPDATE_INTERVAL =
CONDOR_DEVELOPERS = NONE
CONDOR_DEVELOPERS_COLLECTOR = NONE

# Negotiator to use port 9600
NEGOTIATOR_ARGS = -p 9600

# Disabling fsync to help IO performance
CONDOR_FSYNC = false

# To help negotiator accurately estimate the pool size
# Added: https://cms-logbook.cern.ch/elog/GlideInWMS/2078
# (2015-05-11)
NEGOTIATOR_SLOT_POOLSIZE_CONSTRAINT= (State=!="Unclaimed" || ((time() < GLIDEIN_ToRetire) && (time()+6*60*60 < GLIDEIN_ToDie)))

# Tuning parameter used by negotiator to control the number of
# resource requests fetched from a schedd per network round trip
# Added: https://cms-logbook.cern.ch/elog/GlideInWMS/2078
# (2015-05-11)
NEGOTIATOR_RESOURCE_REQUEST_LIST_SIZE = 50

# Number of workers forked by collector
# to handle queries and requests
COLLECTOR_QUERY_WORKERS = 16

# Keep the blacklist short, since an occasional
# overload of one collector can break the whole system
DEAD_COLLECTOR_MAX_AVOIDANCE_TIME = 300

# Disabling shared port explicitly since it is enabled by default in 8.5.x
# Farrukh - 2016-08-09
USE_SHARED_PORT = false

