#
# Global pool specific collector
# configuration file
#

# List of all the DNs in the collector

# List of collectors 
GSI_DAEMON_NAME=/DC=ch/DC=cern/OU=computers/CN=vocms0815.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=cmssrv221.fnal.gov

# Global pool CCBs
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0806.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=cmssrv258.fnal.gov

# List of all the schedds
# Central production schedds
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=cmsgwms-submit3.fnal.gov
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=cmsgwms-submit4.fnal.gov
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=cmsgwms-submit5.fnal.gov
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=cmsgwms-submit6.fnal.gov
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=cmsgwms-submit7.fnal.gov
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=cmsgwms-submit8.fnal.gov
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0258.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0259.cern.ch
# ddavila 20170830: CC7 test schedds 
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0192.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0193.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0250.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0251.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0252.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0253.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0254.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0255.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0256.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0257.cern.ch

# Site support test schedd
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0265.cern.ch

GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0280.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0281.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0282.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0283.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0284.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0285.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0286.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0287.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0288.cern.ch


# List of CRAB schedds
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0106.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0121.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0122.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms059.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0120.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0119.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0155.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0144.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0137.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0107.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0194.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0195.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0196.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0197.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0198.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0199.cern.ch


#Institutional SCHEDDs
# Yutaro (MIT) schedd
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=submit.mit.edu

#DODAS DNs
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/C=IT/O=CLOUD@CNAF/CN=0931b26e-89f6-4118-a5c4-dd7f9e9ec85a@dodas-iam
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/C=IT/O=CLOUD@CNAF/CN=dc4f4237-6674-4d67-841f-025ea738991c@dodas-iam
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/C=IT/O=CLOUD@CNAF/CN=1e7074e5-96fe-43e8-881d-4d572c128931@dodas-iam
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/C=IT/O=CLOUD@CNAF/CN=73e0920b-fbb1-418f-b125-f7b63e69d5c3@dodas-iam

# The CERN frontend details
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms080.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=frontend02/vocms080.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=cmspilot02/vocms080.cern.ch

# FNAL frontend details (as HA)
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=cmsgwms-frontend.fnal.gov
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=pilot/cmsgwms-frontend.fnal.gov

# Tier0 flocked schedds
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms039.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms047.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms001.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms015.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms014.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0313.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0314.cern.ch
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms013.cern.ch
#CC7 schedds
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms0500.cern.ch

# DN for HLT
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=cmscloud/CN=451981/CN=Robot: CMS Online Cloud

# DN for CMS Connect
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=login.uscms.org
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=login-el7.uscms.org

# My puppet test schedd
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=ch/DC=cern/OU=computers/CN=vocms005.cern.ch

# HA setup for collectors
#CONDOR_HOST1=vocms099.cern.ch
CONDOR_HOST1=vocms0815.cern.ch
CONDOR_HOST2=cmssrv221.fnal.gov

CONDOR_HOST=$(CONDOR_HOST1),$(CONDOR_HOST2)
COLLECTOR_HOST=$(CONDOR_HOST1):9618,$(CONDOR_HOST2):9618

#################################################
#
# Log specific knobs for collector & negotiator
#
#################################################

#ddavila 20170719: Increasing the size of the primary Collector log files from 1MB to 2MB (each)
#ddavila 20170724: Increasing the size of the primary Collector log files from 2MB to 4MB (each)
# the log size is currently ~1.5 hrs.
MAX_COLLECTOR_LOG = 4000000

#This knob is used as MAX_COLLECTOR_LOG for all the secondary collectors
#we don't want to have the same size as the primary one.
SECONDARY_MAX_COLLECTOR_LOG = 1000000

MAX_NEGOTIATOR_LOG = 10000000

#ddavila 20170719: Increasing the number of log files for the primary Collector from 12 to 24
MAX_NUM_COLLECTOR_LOG = 24

#This knob is used as MAX_NUM_COLLECTOR_LOG for all the secondary collectors
#we don't want to have the number of files as for the primary one.
SECONDARY_MAX_NUM_COLLECTOR_LOG = 12

MAX_NUM_NEGOTIATOR_LOG = 12

