###########################################################
# Collector Data
###########################################################
# Default name for the collector (if running)
CONDOR_HOST = $(FULL_HOSTNAME)
COLLECTOR_NAME = $(FULL_HOSTNAME)
COLLECTOR_HOST = $(CONDOR_HOST):9618

#-- disable VOMS checking
COLLECTOR.USE_VOMS_ATTRIBUTES = False

#-- allow more file descriptors (only works if Condor is started as root)
COLLECTOR_MAX_FILE_DESCRIPTORS=80000

# Do not send updates to Madison
COLLECTOR_UPDATE_INTERVAL =
CONDOR_DEVELOPERS = NONE
CONDOR_DEVELOPERS_COLLECTOR = NONE

# Number of workers forked by collector
# to handle queries and requests
COLLECTOR_QUERY_WORKERS = 8

# Number of forked query processes reserved for the negotiator
COLLECTOR_QUERY_WORKERS_RESERVE_FOR_HIGH_PRIO = 1

# Amount of time in seconds that clients of the collector are willing to wait
# for a response.
QUERY_TIMEOUT = 120

# Added by Brian Bockelman on 13 March.
# Disabling rewriting doubles the query speed.
ENABLE_ADDRESS_REWRITING = false

# Collector log individual file size 4MB
MAX_COLLECTOR_LOG = 4000000

# Collector max number of log files
MAX_NUM_COLLECTOR_LOG = 24

#ddavila: TODO
#	- Remove
# List of collectors 
#GSI_DAEMON_NAME=/DC=ch/DC=cern/OU=computers/CN=vocms0815.cern.ch
#GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=opensciencegrid/O=Open Science Grid/OU=Services/CN=cmssrv221.fnal.gov


