###########################################################
# Collector Data
###########################################################
# Default name for the collector (if running)
CONDOR_HOST = submit-condor.buap.mx
COLLECTOR_NAME = $(FULL_HOSTNAME)
#COLLECTOR_HOST = $(CONDOR_HOST):9618
COLLECTOR_HOST = $(CONDOR_HOST):9618?sock=collector

#-- disable VOMS checking
COLLECTOR.USE_VOMS_ATTRIBUTES = False

#-- allow more file descriptors (only works if Condor is started as root)
COLLECTOR_MAX_FILE_DESCRIPTORS=80000

# Do not send updates to Madison
COLLECTOR_UPDATE_INTERVAL =
CONDOR_DEVELOPERS = NONE
CONDOR_DEVELOPERS_COLLECTOR = NONE

# Amount of time in seconds that clients of the collector are willing to wait
# for a response.
QUERY_TIMEOUT = 120

# Added by Brian Bockelman on 13 March.
# Disabling rewriting doubles the query speed.
ENABLE_ADDRESS_REWRITING = false

# Collector log individual file size 4MB
MAX_COLLECTOR_LOG = 4000000

# Collector max number of log files
MAX_NUM_COLLECTOR_LOG = 24

