###########################################################
# Negotiator tuning
###########################################################
#-- Prefer newer claims as they are more likely to be alive
NEGOTIATOR_POST_JOB_RANK = MY.LastHeardFrom

#-- Increase negotiation frequency, as new glideins do not trigger a reschedule
NEGOTIATOR_INTERVAL = 60
NEGOTIATOR_MAX_TIME_PER_SUBMITTER=60
NEGOTIATOR_MAX_TIME_PER_PIESPIN=20

#-- Prevent preemption
PREEMPTION_REQUIREMENTS = False

#-- negotiator/GCB optimization
NEGOTIATOR_INFORM_STARTD = False

#-- Disable VOMS checking
NEGOTIATOR.USE_VOMS_ATTRIBUTES = False

#-- Causes Negotiator to run faster. PREEMPTION_REQUIREMENTS and all
#-- condor_startd rank expressions must be False for
#-- NEGOTIATOR_CONSIDER_PREEMPTION to be False
NEGOTIATOR_CONSIDER_PREEMPTION = False

# Set a high enough default, so it can be lowered on a per-user basis
DEFAULT_PRIO_FACTOR=100.0
REMOTE_PRIO_FACTOR=100.0

# Negotiator to use port 9600
NEGOTIATOR_ARGS = -p 9600

# Negotiator log individual file size 10MB
MAX_NEGOTIATOR_LOG = 10000000

# Negotiator max number of log files
MAX_NUM_NEGOTIATOR_LOG = 12

# Enabling negotiator to prefetch request lists
# from schedds
NEGOTIATOR_PREFETCH_REQUESTS = TRUE

# Maximum size of the requests to be pre-fetched
NEGOTIATOR_RESOURCE_REQUEST_LIST_SIZE=500

# Maximum time spent to pre-fetch requests
NEGOTIATOR_PREFETCH_REQUESTS_MAX_TIME=60

# Negotiator specific tweaks
# Size increased to avoid negotiation disconnects
NEGOTIATOR_SOCKET_CACHE_SIZE=100

# Maximum time in each negotiator cycle
# After this time the negotiator stops handing out
# slots to schedds. 
NEGOTIATOR_MAX_TIME_PER_CYCLE=600

# Maximum time spent talking to each submitter 
# per negotiation cycle. A submitter is a user
# schedd pair in condor
NEGOTIATOR_MAX_TIME_PER_SUBMITTER=70

# Maximum time spent talking to each schedd
# per a single pie spin
NEGOTIATOR_MAX_TIME_PER_PIESPIN=100

# Maximum time spent talking to each schedd
# during a negotiation cycle
NEGOTIATOR_MAX_TIME_PER_SCHEDD=60

# Network timeout for each schedd during
# a negotiation cycle
NEGOTIATOR_TIMEOUT=5

# Making sure that glideins with lower number of CPUs get
# filled first to avoid wasting CPU. Temporary fix until concurrency
NEGOTIATOR_PRE_JOB_RANK=-Cpus

# Excluding the glideins without any cpus during negotiation 
# & excluding glideins about to retire
NEGOTIATOR_CONSIDER_PREEMPTION = FALSE


# # This enables the Depth-wise filling which makes the negotiator to try to fill all the available glideins before starting to use a new one.
# # Added by Farrukh https://cms-logbook.cern.ch/elog/GlideInWMS/4404
NEGOTIATOR_DEPTH_FIRST = TRUE
NEGOTIATOR_IGNORE_JOB_RANKS = TRUE

