
# IPV6 gets set by default on 8.5.4+ versions
ENABLE_IPV6 = false

# Do not batch jobs together
CONDOR_Q_DASH_BATCH_IS_DEFAULT = False

# To show all jobs in the queue
CONDOR_Q_ONLY_MY_JOBS = False

# Setting sendmail to avoid HTCondor security bug
# If this value is set, MAIL becomes invalid
# and we don't use mailx
SENDMAIL=/usr/sbin/sendmail

# Setting PREEN not to send emails, just remove files
PREEN_ARGS = -r

# For monitoring purposes
STATISTICS_TO_PUBLISH = ALL:2

# Disabling fsync to help IO performance
CONDOR_FSYNC = false

# Disabling shared port explicitly since it is enabled by default in 8.5.x
USE_SHARED_PORT = false

# Setting the administrator for all machine
# ddavila: TODO
# 	- change
CONDOR_ADMIN = davila.foyo@gmail.com

# Defining the default mail program
# This later gets overwritten by SENDMAIL
# to avoid a security bug
MAIL = /bin/mailx

# The full path to the JVM
JAVA = /usr/bin/java

# Always use global priority
USE_GLOBAL_JOB_PRIOS = True

# Make sure that local config file is set to empty
# since we are using local directory, not a single
# file
LOCAL_CONFIG_FILE =

# Common UID domain for all machines
UID_DOMAIN=buap.mx

####################################################
# Absorbed from condor_config.local on older nodes

#  Internet domain of machines sharing a common file system.
#  If your machines don't use a network file system, set it to
#  FILESYSTEM_DOMAIN = $(FULL_HOSTNAME)
#  to specify that each machine has its own file system. 
FILESYSTEM_DOMAIN = buap.mx
