# Some custom attributes to monitor health
# of various HTCondor daemons

# To monitor HTCondor daemon level statistics 
AVERAGE_DC_CYCLE_LENGTH_WARNING = .3
AVERAGE_DC_CYCLE_LENGTH_CRITICAL = .5
DUTY_CYCLE_WARNING = .95
DUTY_CYCLE_CRITICAL = .98
JOBS_EXITED_WARNING = 2500
JOBS_EXITED_CRITICAL = 3000
COMPLETED_ADS_WARNING = 500
COMPLETED_ADS_CRITICAL = 1000
UNLAUNCHED_SHADOWS_WARNING = 500
UNLAUNCHED_SHADOWS_CRITICAL = 1000
FILE_XFER_LOAD_WARNING = 1.0
FILE_XFER_LOAD_CRITICAL = 2.0
AUTOCLUSTERS_WARNING = 1500
AUTOCLUSTERS_CRITICAL = 2000

NEGOTIATION_CYCLE_DURATION_WARNING = 900
NEGOTIATION_CYCLE_DURATION_CRITICAL = 1100
NEGOTIATION_TRIMMED_SLOTS_WARNING = 12000
NEGOTIATION_TRIMMED_SLOTS_CRITICAL = 15000

IsOK = !IsWarning && !IsCritical

SCHEDD_IsWarning =     ((RecentDCPumpCycleSum-RecentDCSelectWaittime)/(RecentDCPumpCycleCount+1) > $(AVERAGE_DC_CYCLE_LENGTH_WARNING)) || \
                       (RecentDaemonCoreDutyCycle > $(DUTY_CYCLE_WARNING)) || \
                       (RecentJobsExited > $(JOBS_EXITED_WARNING)) || \
                       (TotalJobAds-TotalIdleJobs-TotalHeldJobs-TotalRunningJobs-TotalSchedulerJobsIdle > $(COMPLETED_ADS_WARNING)) || \
                       (TotalRunningJobs-TotalLocalJobsRunning-TotalSchedulerJobsRunning-ShadowsRunning > $(UNLAUNCHED_SHADOWS_WARNING)) || \
                       (FileTransferFileReadLoad_5m > $(FILE_XFER_LOAD_WARNING)) || \
                       (FileTransferFileWriteLoad_1m > $(FILE_XFER_LOAD_WARNING)) || \
                       (Autoclusters > $(AUTOCLUSTERS_WARNING))

SCHEDD_IsCritical =    ((RecentDCPumpCycleSum-RecentDCSelectWaittime)/(RecentDCPumpCycleCount+1) > $(AVERAGE_DC_CYCLE_LENGTH_CRITICAL)) || \
                       (RecentDaemonCoreDutyCycle > $(DUTY_CYCLE_CRITICAL)) || \
                       (RecentJobsExited > $(JOBS_EXITED_CRITICAL)) || \
                       (TotalJobAds-TotalIdleJobs-TotalHeldJobs-TotalRunningJobs-TotalSchedulerJobsIdle > $(COMPLETED_ADS_CRITICAL)) || \
                       (TotalRunningJobs-TotalLocalJobsRunning-TotalSchedulerJobsRunning-ShadowsRunning > $(UNLAUNCHED_SHADOWS_CRITICAL)) || \
                       (FileTransferFileReadLoad_5m > $(FILE_XFER_LOAD_CRITICAL)) || \
                       (FileTransferFileWriteLoad_1m > $(FILE_XFER_LOAD_CRITICAL)) || \
                       (Autoclusters > $(AUTOCLUSTERS_CRITICAL))

NEGOTIATOR_IsWarning = (LastNegotiationCycleDuration0 > $(NEGOTIATION_CYCLE_DURATION_WARNING)) || \
                       (LastNegotiationCycleTrimmedSlots0 + LastNegotiationCycleTrimmedSlots1 > 2*($(NEGOTIATION_TRIMMED_SLOTS_WARNING)))

NEGOTIATOR_IsCritical = (LastNegotiationCycleDuration0 + LastNegotiationCycleDuration1 > 2*($(NEGOTIATION_CYCLE_DURATION_CRITICAL))) || \
                        (LastNegotiationCycleTrimmedSlots0 + LastNegotiationCycleTrimmedSlots1 > 2*($(NEGOTIATION_TRIMMED_SLOTS_CRITICAL)))

SCHEDD.IsWarning = $(SCHEDD_IsWarning)
SCHEDD.IsCritical = $(SCHEDD_IsCritical)
NEGOTIATOR.IsWarning = $(NEGOTIATOR_IsWarning)
NEGOTIATOR.IsCritical = $(NEGOTIATOR_IsCritical)

SCHEDD_ATTRS = $(SCHEDD_ATTRS), IsOK, IsWarning, IsCritical
NEGOTIATOR_ATTRS = $(NEGOTIATOR_ATTRS), IsOk, IsWarning, IsCritical

# Adding reason classAd for human readable message for warning and critical status
SCHEDD_IsWarningReason = ifthenelse((RecentDCPumpCycleSum-RecentDCSelectWaittime)/(RecentDCPumpCycleCount+1) > $(AVERAGE_DC_CYCLE_LENGTH_WARNING), "AVERAGE_DC_CYCLE_LENGTH limit violated", \
                          ifthenelse((RecentDaemonCoreDutyCycle > $(DUTY_CYCLE_WARNING)), "Duty cycle is high", \
                          ifthenelse((RecentJobsExited > $(JOBS_EXITED_WARNING)),"Number of recently exited jobs is high", \
                          ifthenelse((TotalJobAds-TotalIdleJobs-TotalHeldJobs-TotalRunningJobs-TotalSchedulerJobsIdle > $(COMPLETED_ADS_WARNING)),"Number of completed job ads is high", \
                          ifthenelse((TotalRunningJobs-TotalLocalJobsRunning-TotalSchedulerJobsRunning-ShadowsRunning > $(UNLAUNCHED_SHADOWS_WARNING)), "Number of unlaunched shadows is high", \
                          ifthenelse((FileTransferFileReadLoad_5m > $(FILE_XFER_LOAD_WARNING)), "Job input file transfer load is high", \
                          ifthenelse((FileTransferFileWriteLoad_1m > $(FILE_XFER_LOAD_WARNING)), "Job output file transfer load is high", \
                          ifthenelse((Autoclusters > $(AUTOCLUSTERS_WARNING)), "Number of autoclusters is high", undefined))))))))

SCHEDD_IsCriticalReason = ifthenelse((RecentDCPumpCycleSum-RecentDCSelectWaittime)/(RecentDCPumpCycleCount+1) > $(AVERAGE_DC_CYCLE_LENGTH_CRITICAL), "AVERAGE_DC_CYCLE_LENGTH limit violated", \
                           ifthenelse((RecentDaemonCoreDutyCycle > $(DUTY_CYCLE_CRITICAL)), "Duty cycle is high", \
                           ifthenelse((RecentJobsExited > $(JOBS_EXITED_CRITICAL)),"Number of recently exited jobs is high", \
                           ifthenelse((TotalJobAds-TotalIdleJobs-TotalHeldJobs-TotalRunningJobs-TotalSchedulerJobsIdle > $(COMPLETED_ADS_CRITICAL)),"Number of completed job ads is high", \
                           ifthenelse((TotalRunningJobs-TotalLocalJobsRunning-TotalSchedulerJobsRunning-ShadowsRunning > $(UNLAUNCHED_SHADOWS_CRITICAL)), "Number of unlaunched shadows is high", \
                           ifthenelse((FileTransferFileReadLoad_5m > $(FILE_XFER_LOAD_CRITICAL)), "Job input file transfer load is high", \
                           ifthenelse((FileTransferFileWriteLoad_1m > $(FILE_XFER_LOAD_CRITICAL)), "Job output file transfer load is high", \
                           ifthenelse((Autoclusters > $(AUTOCLUSTERS_CRITICAL)), "Number of autoclusters is high", undefined))))))))

SCHEDD.IsWarningReason = $(SCHEDD_IsWarningReason)
SCHEDD.IsCriticalReason = $(SCHEDD_IsCriticalReason)

SCHEDD_ATTRS = $(SCHEDD_ATTRS), IsWarningReason, IsCriticalReason
