############################################
#
# 99_local_tweaks.config
# 
# This config file should be used for all manual changes
# on this machine. The other config files should not
# be modified, as they will be overwritten by puppet. 
# Include permanent changes in puppet, and temporary 
# changes or machine-specific changes here.
#
############################################

# To avoid spamming others while debugging issues
# CONDOR_ADMIN = davila.foyo@gmail.com 

# To enable debug level
# NEGOTIATOR_DEBUG = D_FULLDEBUG,D_MATCH
# COLLECTOR_DEBUG = D_FULLDEBUG,D_SECURITY
# SCHEDD_DEBUG = D_FULLDEBUG

